<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/tag::tag_head">
    <meta charset="UTF-8">
    <title>杂货铺后台管理系统-V1.011</title>
</head>
<body>
    <!--头部导航栏-->
    <div id="header" th:replace="/common/head::head_leader"></div>

    <!--主体部分 id="body"-->
    <div style="padding-top: 60px;">
        <div class="container-fluid">
            <!--导航栏：功能目录 id="navigation"-->
            <div>
                <ul class="breadcrumb">
                    <li><a href="/page/index">首页</a></li>
                    <li class="active"><a href="/page/sysUser">用户管理</a></li>
                </ul>
            </div>
            <!--主体内容-->
            <div class="panel-body">
                <!--条件栏 id="querybar"-->
                <div class="panel panel-primary">
                    <div class="panel-heading"><lable class="lable-default">查询条件</lable></div>
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">用户名：</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="userName" placeholder="请输入用户名">
                                </div>
                            </div>
                            <div class="form-group col-sm-12 text-center">
                                <button type="button" class="btn btn-primary" onclick="query()">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查询</button>
                                <button type="button" class="btn btn-default col-xs-offset-1" onclick="resetQuery()">
                                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> 重置</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--功能栏、工具栏 id="toolbar"-->
                <div style="margin:8px 0px;">
                    <button type="button" class="btn btn-success" onclick="toAdd()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                    </button>
                    <button type="button" class="btn btn-warning" onclick="toEdit()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>修改
                    </button>
                    <button type="button" class="btn btn-danger" onclick="toDel()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>删除
                    </button>
                    <button type="button" class="btn btn-info" onclick="toInfo()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>详情
                    </button>
                </div>
                <!--数据栏 class="table table-bordered"-->
                <table id="table"></table>
            </div>
        </div>
    </div>

    <!--底部备注-->
    <div id="foot" th:replace="/common/head::head_foot"></div>
</body>
</html>
<script type="text/javascript" src="/static/js/common/general-table.js"></script>
<script type="text/javascript">
    var options = {
        url: "/sysUser/getPage",
        type: 'get',
        uniqueId : "userId",
        singleSelect : false,
        pagination: true,
        // pageSize: 6,
        queryParams: queryParams,
        tableColumn : [{
            checkbox : true,
            align : "center",
        },{
            field : "userId",
            title : "ID",
            align : "center",
        },{
            field : "loginName",
            title : "登录名",
            align : "center",
        },{
            field : "userName",
            title : "用户名",
            align : "center",
        },{
            field : "nickName",
            title : "昵称",
            align : "center",
        },{
            field : "sex",
            title : "性别",
            align : "center",
            formatter: function (value, row, index){
                return value === 0 ? '男' : (value === 1 ? '女' : undefined);
            }
        },{
            field : "phone",
            title : "手机号",
            align : "center",
        },{
            field : "status",
            title : "状态",
            align : "center",
            formatter: function (value, row, index){
                return value === 0 ? '启用' : '禁用';
            }
        },{
            field : "loginIp",
            title : "登录地址",
            align : "center",
        },{
            field : "loginTime",
            title : "上次登录时间",
            align : "center",
        },{
            field : "userId",
            title : "操作",
            align : "center",
            formatter: function (value, row, index) {
                return '<a class="" onclick="toEdit('+ value +')">修改</a> ' +
                    '<a class="" onclick="toInfo('+ value +')">详情</a> ';
            }
        },
        ],
    };
    function queryParams(params) {
        var obj = {
            userName: $('#userName').val(),
        };
        return $.extend(params,obj);
    }
    getList();

    function getList() {
        $('#table').createTable(options);
    }
    /* 查询栏 */
    function query() {
        $('#table').refreshTable();
    }
    function resetQuery() {
        $('#userName').val("");
        query();
    }
    /* 工具栏 */
    function toAdd() {
        console.log("----- 新增");
    }
    function toEdit(value) {
        console.log("----- 修改 - " + value);
    }
    function toDel(value) {
        console.log("----- 删除 - ");
    }
    function toInfo(value) {
        console.log("----- 详情 - " + value);
    }
</script>