<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mgodk.mapper.SysMenuMapper">
    <resultMap id="baseResultMap" type="com.mgodk.entity.pojo.SysMenu">
        <id column="menu_id" property="menuId" jdbcType="INTEGER" />
        <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
        <result column="power" property="power" jdbcType="VARCHAR" />
        <result column="parent_id" property="parentId" jdbcType="INTEGER" />
        <result column="target_url" property="targetUrl" jdbcType="VARCHAR" />
        <result column="icon" property="icon" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <!-- 标准属性 -->
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <!--连表对象属性-->
    </resultMap>
    <sql id="baseColumnSql">
        menu_id,menu_name,power,parent_id,target_url,icon,status,
        create_by,create_time,update_by,update_time
    </sql>
</mapper>