<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="tag_head" th:fragment="tag_head">
    <meta charset="UTF-8">
    <title>杂货铺后台管理系统-V1.0</title>

    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <script type="text/javascript" th:src="@{/static/js/jquery-1.12.4.min.js}" src="/static/js/jquery-1.12.4.min.js"></script>
    <!--字体图标插件-->
    <link rel="stylesheet" type="text/css" href="/static/font/iconfont.css">
    <!--BootStrap 相关插件-->
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css">-->
    <!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>-->
    <link rel="stylesheet" type="text/css" href="/static/js/plugins/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="/static/js/plugins/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/plugins/bootstrap-daterangepicker/css/daterangepicker.css">
    <script type="text/javascript" src="/static/js/plugins/bootstrap-daterangepicker/js/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/plugins/bootstrap-fileinput/css/fileinput.css">
    <script type="text/javascript" src="/static/js/plugins/bootstrap-fileinput/js/fileinput.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/plugins/bootstrap-iconpicker/css/bootstrap-iconpicker.css">
    <script type="text/javascript" src="/static/js/plugins/bootstrap-iconpicker/js/bootstrap-iconpicker.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/plugins/bootstrap-select/css/bootstrap-select.css">
    <script type="text/javascript" src="/static/js/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/plugins/bootstrap-table/css/bootstrap-table.css">
    <script type="text/javascript" src="/static/js/plugins/bootstrap-table/js/bootstrap-table.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/plugins/bootstrap-treeview/css/bootstrap-treeview.css">
    <script type="text/javascript" src="/static/js/plugins/bootstrap-treeview/js/bootstrap-treeview.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/plugins/bootstrap-validator/css/bootstrapValidator.css">
    <script type="text/javascript" src="/static/js/plugins/bootstrap-validator/js/bootstrapValidator.js"></script>
    <!--Toastr 消息框插件-->
    <link rel="stylesheet" type="text/css" href="/static/js/plugins/toastr/toastr.css">
    <script type="text/javascript" src="/static/js/plugins/toastr/toastr.min.js"></script>
</head>
<body>

</body>
</html>