@charset "utf-8";

/* 自定义全局标签样式 */
h1,h2,h3,h4,h5,h6{font-weight:500;line-height:1.1;color:inherit;}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small{font-weight:400;line-height:1;color:#999;}
h1 small,h2 small,h3 small,h1 .small,h2 .small,h3 .small{font-size:65%;}
h4,h5,h6{margin-top:10px;margin-bottom:10px;}
h4 small,h5 small,h6 small,h4 .small,h5 .small,h6 .small{font-size:75%;}
h1{font-size:36px;}
h2{font-size:30px;}
h3{font-size:24px;}
h4{font-size:18px;}
h5{font-size:14px;}
h6{font-size:12px;}/* 主题样式 */
p{margin-bottom:10px;}/* 段落 */
small{font-size:85%;}/* 小型文本 */
b,strong{font-weight:bold;}	/* 重要的文本，加粗 */
em{font-style:italic;}/* 被强调的文本 */
i{}/* 斜体 */
u{}/* 加下划线 */
cite{font-style:normal;}/* 引用 */
mark{color:#000;background:#ff0;}/* 突出显示文本 */
var{}/* 变量 */
kbd{}/* 键盘文本 */
code{}/* 计算机代码文本 */
dfn{font-style: italic;}/* 一个定义项目 */
del{font-family:Simsun;}/* 删除线 */
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}
pre{white-space:pre-wrap;}/* 预格式化的文本 */


